<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313102415877-mkv1macknn2gog3pv293gobkki1qc7s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313102415877-mkv1macknn2gog3pv293gobkki1qc7s9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313102415877-gbqgu7ncjr9idt0cr2lcqc7hfrgvn634.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXsXJWhOzAIy5xuugwGWIou0PceICvVG8</string>
	<key>GCM_SENDER_ID</key>
	<string>313102415877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseSample</string>
	<key>PROJECT_ID</key>
	<string>clientflutterdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>clientflutterdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313102415877:ios:f0618cd81f098ae227046c</string>
	<key>DATABASE_URL</key>
	<string>https://clientflutterdemo.firebaseio.com</string>
</dict>
</plist>